.App {
  padding: 40px;
}

.Title {
  text-align: center;
}

.ChatWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid rgb(121, 121, 121, .5);
  height: 600px;
  width: 600px;
}
.MessagesBox {
  padding: 10px;
  overflow-y: scroll;
}

.Message {
  padding: 10px 0;
  display: flex;
}

.Message_Outgoing {
  flex-direction: row-reverse;
}

.MessagesSend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  max-height: 80px;
  height: 80px;
  border-top: 1px solid rgb(121, 121, 121, .5);
}

.SendButton {
  height: 100%;
  width: 60px;
  outline: none;
  background-color: rgb(124, 221, 124);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.SendButton:hover {
  opacity: 1;
}

.Textarea {
  padding: 0;
  margin: 10px;
  max-height: calc(100% - 20px);
  height: calc(100% - 20px);
  border: none;
  outline: none;
  resize: none;
  width: calc(100% - 60px)
}

.Username {
  font-size: 12px;
  color: rgb(69, 69, 246);
}

.MessageWrap {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
